a{
    text-decoration: none;
}

.box500{
    width: 100%;
    height: 900px;
    background-color: lightsalmon;
    border: 2px solid black;
}

/* HEADER */

header{
    position: sticky;
    top: 0;
}

nav{
   
}


nav img{
    width: 100%;
}

.fa-bell{
    color: #fb8f00;
}

.mobile{
    display: none;
}

/* SIDEBAR */

.sidebar{
    background-color: #11273f;
    
}

.content{
    overflow-y: auto;
    height:calc(100vh - 100px );
}

/* CORPO-MAIN (CONTENT) */

/* BLUE-BAR */

.blue-bar{
    background-color: #1a73e8;
}

/* TABELLA */

/* TODO */
.form-check{
    border-bottom:0.5px solid lightgrey
}






















/* *************************
*                          *
*                          *                                                    *                          *                          *                          
*       MEDIA QUERY        *               
*                          *
*                          *
* **************************/



@media  screen and (max-width:992px) {
    .fa-list{
        display: none;
    }
    .fa-circle-question{
        display: none;
    }
    .fa-ellipsis-vertical{
        display: none;
    }
    .mobile{
        display: block;
    }
    nav img{
        width: 100%;
    }
    .logo{
        display: none;
    }
}

@media  screen and (max-width:768px) {
    
}

@media  screen and (max-width:576px) {
    
}

